@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Movie store</h1>
    <p class="lead">Moviestore is the home of the internet's finest collection of movies.</p>
  
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Movies</h2>
        <p>
            You can see what we offering in this section
        </p>
        <p><a class="btn btn-default" href="https://localhost:44321/movies/index">Go to movies &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Customers</h2>
        <p>Large database satisfied customer</p>
        <p><a class="btn btn-default" href="https://localhost:44321/customers/index ">Go to customers &raquo;</a></p>
    </div>
   
</div>